# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qmuiolfeymjeqyxsxczw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishableC8uvuqgh5vjo8wKejjwTFA-3bC4j0H

# Stripe
STRIPE_SECRET_KEY=
STRIPE_MONTHLY_PRICE_ID=
STRIPE_ANNUAL_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
